{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
    <title>ورود</title>
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="{% static './images/34d2660f-bb45-4559-9f90-4e1a038cd191.jfif' %}" class="logo-img" id="logo-image">
        </div>
        <h1>ورود با شماره موبایل</h1>
        <form method="post">
             {% csrf_token %}
            <div class="input-group">

                {{ form.customer_phone}}
                 {% if form.customer_phone.errors %}
                    <div class="flex items-center gap-2 text-red-600 text-sm mt-1">
                        <i class="bi bi-exclamation-circle-fill"></i>
                        <ul class="list-none m-0 p-0">
                            {% for error in form.customer_phone.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {{ form.customer_phone.label_tag }}


            </div>
            <button type="submit" <a href="{% url 'account:verifycode' %}">دریافت کد تایید</button>
        </form>
    </div>
    {% comment %} <script src="{% static './js/login.js' %}"></script> {% endcomment %}
</body>
</html>