@font-face {
    font-family: 'Vazir';
    src: url('../fonts/IRANSansWeb\(2\).woff2') format('woff2'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
}
        
body {
    background: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
        
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}
        
.logo-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
        
.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid #764ba2;
}
        
h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 22px;
}
        
.input-group {
    position: relative;
    margin-bottom: 25px;
}
        
.input-group input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #ddd;
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.3s;
    text-align: center;
    direction: rtl;
}
        
.input-group input:focus {
    border-color: #764ba2;
    outline: none;
    box-shadow: 0 0 0 3px rgba(118, 75, 162, 0.2);
}
        
.input-group label {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #999;
    transition: all 0.3s;
    background-color: white;
    padding: 0 5px;
}
        
.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -10px;
    right: 15px;
    font-size: 12px;
    color: #764ba2;
}
        
button {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-top: 10px;
}
        
button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
        
.terms {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
        
.terms a {
     color: #764ba2;
    text-decoration: none;
}
        
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
        
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
@media (min-width: 768px) {
.login-container {
    width: 90%;
    max-width: 400px;
    }
}