{% include "dashbord/manager/navbar.html" %}
{% block title %}سروریس جدید{% endblock title %}

<form class="needs-validation" novalidate action="javascript:void(0);">
    <div class="form-row">
        <div class="col-md-4 mb-4">
            <label for="validationCustom01">نام کوچک</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="نام کوچک" value="ستون" required>
            <div class="valid-feedback">
                به نظر خوب میاد!
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <label for="validationCustom02">نام فامیلی</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="نام فامیلی" value="شاپ" required>
            <div class="valid-feedback">
                به نظر خوب میاد!
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <label for="validationCustomUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="نام کاربری" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    لطفاً یک نام کاربری انتخاب کنید
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-4">
            <label for="validationCustom03">City</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="شهر" required>
            <div class="invalid-feedback">
                لطفاً یک شهر معتبر تهیه کنید.
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <label for="validationCustom04">State</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="دولت" required>
            <div class="invalid-feedback">
                لطفاً یک کشور معتبر ارائه دهید.
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <label for="validationCustom05">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="کد پستی" required>
            <div class="invalid-feedback">
                لطفاً یک کدپستی معتبر وارد کنید.
            </div>
        </div>
    </div>
    <div class="form-group mb-4">
        <div class="form-check pl-0">
            <div class="custom-control custom-checkbox checkbox-success">
                <input type="checkbox" class="custom-control-input" id="invalidCheck" required>
                <label class="custom-control-label" for="invalidCheck">با شرایط و قوانین موافق باشید</label>
                <div class="invalid-feedback">
                    قبل از ارسال باید موافقت کنید
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-3" type="submit">ارسال فرم</button>
</form>

{% block extra_js %} 
<script>
window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
}, false);
</script>
{% endblock extra_js %}