{% extends "dashbord/manager/base.html" %}
{% block title %}سروریس جدید{% endblock title %}
{% load static %}
{% block content %}

<!-- BEGIN PAGE CONTENT -->
<div id="page-content">
    <div id="inner-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box shadow">
                    <ul class="breadcrumb">
                        <li><a href="dashboard.html">پیشخوان</a></li>
                        <li><a href="#">فرم ها</a></li>
                        <li class="active">فرم ها</li>
                    </ul>
                    <div class="breadcrumb-left">
                        یکشنبه، 1404/02/28
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-left -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->

            <div class="col-lg-6">
                <div class="portlet box shadow">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h3 class="title">
                                <i class="icon-settings"></i>
                                ثبت سرویس جدید
                            </h3>
                        </div><!-- /.portlet-title -->

                    </div><!-- /.portlet-heading -->
                    <div class="portlet-body">
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="form-group round">
                                        <label>شماره تلفن</label>
                                        <input type="text" class="form-control text-right ltr numeric">
                                    </div><!-- /.form-group -->
                                    <div class="form-group round">
                                        <label>نام خودرو</label>
                                        <input type="text" class="form-control">
                                    </div><!-- /.form-group -->
                                    <div class="form-group round">
                                        <label> شماره پلاک</label>
                                        <input type="text" class="form-control">
                                    </div><!-- /.form-group -->

                                </div><!-- /.form-group -->
                                <div class="form-group round">
                                    <label>مدل خودرو</label>
                                    <input type="text" class="form-control text-right ltr numeric">
                                </div><!-- /.form-group -->
                                <div class="form-group round">
                                    <label>کیلومتر فعلی</label>
                                    <input type="text" class="form-control text-right ltr numeric">
                                </div><!-- /.form-group -->
                                <div class="form-group round">
                                    <label>رنگ خودرو</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="white">سفید</option>
                                            <option value="black">مشکی</option>
                                            <option value="silver">نقره‌ای</option>
                                            <option value="gray">خاکستری (ذغالی)</option>
                                            <option value="blue">آبی</option>
                                            <option value="navy">سرمه‌ای</option>
                                            <option value="red">قرمز</option>
                                            <option value="green">سبز (یشمی/زیتونی)</option>
                                            <option value="beige">بژ (طلایی/کرم)</option>
                                        </select>
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group round">
                                    <label>روغن</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <!-- این لیست باید داینامیک از دیتابیس بیاد -->
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="1">روغن موتور بهران 10W40</option>
                                            <option value="2">روغن موتور کاسترول 20W50</option>
                                        </select>
                                    </div>
                                </div>

                                 <div class="form-group round">
                                    <label>فیلتر</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <!-- این لیست باید داینامیک از دیتابیس بیاد -->
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="1">فیلتر روغن </option>
                                            <option value="2">فیلتر هوا</option>
                                        </select>
                                    </div>
                                </div>


                                 <div class="form-group round">
                                    <label>مایعات مصرفی</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <!-- این لیست باید داینامیک از دیتابیس بیاد -->
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="1">ضدیخ / ضدجوش</option>
                                            <option value="2">آب رادیاتور</option>
                                            <option value="2">مایع شیشه‌شور</option>
                                        </select>
                                    </div>
                                </div>


                                 <div class="form-group round">
                                    <label> قطعات مصرفی جانبی</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <!-- این لیست باید داینامیک از دیتابیس بیاد -->
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="1">واشر کارتل</option>
                                            <option value="2">آب رادیاتور</option>
                                            <option value="2">لامپ‌های مصرفی خودرو</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group round">
                                    <label>یادآوری سرویس بعدی</label>
                                    <div class="col-sm-9">
                                        <select class="form-select">
                                            <!-- این لیست باید داینامیک از دیتابیس بیاد -->
                                            <option value="">-- انتخاب کنید --</option>
                                            <option value="1">سه ماهه/کم مصرف</option>
                                            <option value="2">دو ماهه/میان مصرف</option>
                                            <option value="2">یک ماهه/ پرمصرف</option>
                                        </select>
                                    </div>
                                </div>
                                
                                
                                

                                <div class="form-group relative">
                                    <input type="file" class="form-control">
                                    <label> تصویر پلاک</label>
                                    <div class="input-group round">
                                        <input type="text" class="form-control file-input"
                                            placeholder="برای آپلود کلیک کنید">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success">
                                                <i class="icon-picture"></i>
                                                آپلود عکس
                                            </button>
                                        </span>
                                    </div><!-- /.input-group -->
                                    <div class="form-group relative">
                                        <input type="file" class="form-control">
                                        <label> تصویر کیلومتر</label>
                                        <div class="input-group round">
                                            <input type="text" class="form-control file-input"
                                                placeholder="برای آپلود کلیک کنید">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-success">
                                                    <i class="icon-picture"></i>
                                                    آپلود عکس
                                                </button>
                                            </span>
                                        </div><!-- /.input-group -->
                                        <div class="help-block"></div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success btn-round">
                                        <i class="icon-check"></i>
                                        ثبت سرویس
                                    </button>
                                    
                                </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.portlet-body -->
                </div><!-- /.portlet -->

                {% endblock %}